.advancedSearchPhone{
    
       width: 100%;
        margin: 0 auto;
        padding-bottom: 1rem;
        padding-top: 1.5rem;
        border-bottom: 1px solid #eee;

    .checkboxSection{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        padding-bottom: 1rem;
        justify-content: space-around;
         border-bottom: 1px solid #eee;

        &>div{
            width: 40%;
            margin: .5rem;
            font-size: 1rem;
        }
    }
    .floor,.size{
         width: 100%;
        margin: 0 auto;
        padding-bottom: 1rem;
        // padding-bottom: .2rem;
        padding-top: 1rem;
        border-bottom: 1px solid #eee;

        .floorBoxes,.sizeBoxes{
            display: flex;
            width: 100%;
            justify-content: space-around;
            align-items: center;
            padding-top: 0.5rem;
        }
        .seperator{
            width: 20px;
            background-color: #ccc;
            display: inline-block;
            height: 2px;
            margin: auto 1rem;
        }
        select,input{
            padding: 1rem;
            width: 40%;
            outline: none;
            font-size: 1rem;
        }
    }
    .entryDate{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 1rem;
        justify-content: space-around;
        padding-bottom: 1rem;
        padding-top: 1rem;
        // border-bottom: 1px solid #eee;
        span{
            width: 100%;
            font-size: 1.2rem;
            margin-bottom: 0.3rem;
        }
        input{
            width: 100%;
            padding: 1rem;
        }
    }
    .imidiateEntry{
        display: flex;
        align-items: center;
        padding-bottom: 1rem;
        // padding-top: 1rem;
        border-bottom: 1px solid #eee;

        input{
            color: $main-color-orange;
        }
        label{
            font-size: 1.1rem;
        }
    }
    .freeTextSearch{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 1rem;
        justify-content: space-around;
        padding: 0;
        padding-top: 1rem;
        width: 100%;
        margin-right: 0;
        // border-bottom: 1px solid #eee;
        span{
            width: 100%;
            font-size: 1.2rem;
            margin-bottom: 0.3rem;
        }
        input{
            width: 100%;
            padding: 1rem;

        }
    }
}