.posts{
    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.post{
    font-size: .9rem;
    direction: ltr;
    padding: 0.35rem;
    border-radius: 4px;
    width: 100%;
    margin: 0.2rem auto;
    height: 7.5rem;
    background-color: #FDF9C5;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 2.5fr 1fr;
    grid-template-areas: 
    "areaDetails img"
    "itemDetails img";

    .areaDetails{
        grid-area: areaDetails;
        border-bottom: 0.2px solid #ccc;
        line-height: 1.4;

        .priceAndDate{
            display: flex;
            justify-content: space-between;
            align-items: center;
            span:last-child{
                font-size: .8rem;
                font-weight: 300;
            }
            span:first-child{
                font-size: 1.05rem;
                font-weight: 500;
            }
         
        }
    }
    .itemDetails{
        grid-area: itemDetails;
        display: flex;
        justify-content: space-around;
        align-items: center;

        &>div{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    }
    .image{
        grid-area: img;
        margin-left: 0.5rem;
        img{
            height: 100%;
            width: 100%;
            margin: auto;
            border-radius: 8px;
        }
    }
}