
@media (max-width:1000px) {
    .search-desktop{
        display:none
    }
    .search{
        display: none;
    }
}
@media (min-width:1000px) {
    .search-phone{
        display:none;
    }
    
    .searchHeadline{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    
    .searchHeadlineText{
        display: flex;
        align-items: center;
        font-weight: 500;
        width: 60%;
        font-size: 1.1rem;
    
        .headerWord{
            margin: auto 0.2rem;
            color: $main-color-orange;
            font-size: 1.125rem;
            font-weight: 500;
            position: relative;
            padding: 0;
            border-bottom: 2px dotted #ff7100;
        }
    }
    .notificationsButton{
        display: flex;
        align-items: center;
        justify-content: space-around;
        border: 1px solid $main-color-orange;
        font-size: 0.8rem;
        color: $main-color-orange;
        padding-left: 0.7rem;
        padding-right: 0.7rem;
    
        &:hover{
            cursor: pointer;
            background-color:$main-color-orange;
            color: white;
    
        }
    
        img{
            margin-left: 0.2rem;
        }
    }
    
    .searchForm{
        display: grid;
        grid-template-columns: 1fr 1.5fr 2fr 1fr 1.5fr 1.7fr;
        grid-template-areas:
        ". . price rooms type area";
        font-size: 0.8rem;
        direction: ltr;
        width: 100%;
        height: 100%;
    }
    
    .area{
        grid-area: area;
        display:flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        margin-left: 0.5rem;
    
        span{
            min-width: 100%;
            display: inline-block;
            color: #363636;
            text-align: right;
            font-size: .875rem;
            margin-bottom: 0.3rem;
        }
        input{
            border:1px solid #ccc ;
            padding: 0.8rem;
            padding-left: 1.5rem;
            display: block;
            outline: none;
        }
    }
    
    .type{
        grid-area: type;
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-left: 0.5rem;
    
          &>span{
            min-width: 100%;
            display: inline-block;
            color: #363636;
            text-align: right;
            font-size: .875rem;
            // margin-bottom: 0.3rem;
        }
    
          button{
            min-width: 100px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            height: 43px;
            // padding: 0.8rem;
            border: 1px solid #ccc;
            border-radius: 2px;
            font-size: .875rem;
            line-height: 1.0625rem;
            color: #999;
            background-color: #fff;
            margin-top: 5px;
            padding: 0 10px 0 5px;
    
            span{
                width: fit-content;
                display: inline-block;
                text-align: right;
                font-size: .875rem;
            }
            img{
                width: 20px;
            }
        }
    }
    .rooms{
        grid-area: rooms;
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-left: 0.5rem;
    
          &>span{
            min-width: 100%;
            display: inline-block;
            color: #363636;
            text-align: right;
            font-size: .875rem;
            // margin-bottom: 0.3rem;
        }
    
          button{
            min-width: 100px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            height: 43px;
            border: 1px solid #ccc;
            border-radius: 2px;
            font-size: .875rem;
            line-height: 1.0625rem;
            color: #999;
            background-color: #fff;
            margin-top: 5px;
            padding: 0 10px 0 5px;
    
            span{
                width: fit-content;
                display: inline-block;
                text-align: right;
                font-size: .875rem;
            }
            img{
                width: 20px;
            }
        }
    }
    
    .price{
        grid-area: price;
        flex-direction: column;
        display:flex;
        align-items: center;
        justify-content: center;
    
          span{
            min-width: 96%;
            display: inline-block;
            color: #363636;
            text-align: right;
            font-size: .875rem;
            margin-bottom: 0.3rem;
        }
    
        .pricesBoxes{
            display: flex;
            min-width: 200px;
            input{
            width: 48%;
            border:1px solid #ccc ;
            padding: 0.8rem;
            display: block;
            outline: none;
            margin: auto;
            }
        }
    }
    
    .searchButton{
        font-size: .875rem;
        line-height: 1.0625rem;
        padding: .8em 1em;
        position: relative;
        border-radius: 2px;
        direction: rtl;
        color: #363636;
        display: flex;
        justify-content: center;
        align-items: flex-end;
    
        
    
        button{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            padding: 11px 5px;
            font-weight: 500;
            background-color: $main-color-orange;
            border: none;
            color: white;
    
            &:hover{
                cursor: pointer;
                background-color: darken($color: $main-color-orange, $amount: 5%);
            }
        }
    
        svg{
            margin-left: 0.2rem;
        }
    }
    
    
    
    .advancedSearchButton{
        font-size: .875rem;
        line-height: 1.0625rem;
        padding: .8em 1em;
        position: relative;
        border-radius: 2px;
        direction: rtl;
        color: #363636;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        button{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            padding: 11px 5px;
            font-weight: 500;
            border:none;
    
            &:hover{
                cursor: pointer;
                background-color: darken($color: $main-color-grey, $amount: 15%);
            }
        }
    }
    
    .none{
        display: none;
    }
}