.step5{
    width: 90%;
    margin: 2rem auto;

    h4{
        color: #000;
        font-size: 1.1em;
        font-weight: inherit;
        margin-bottom: 20px;
        margin-top: 0;
        line-height: 22px;
    }

    .personalInfo{
        display: flex;

        &>div{
            display: flex;
            flex-direction: column;
            margin-left: 1rem;
        }
    }
    
}