$font-size-subHeader:1rem;
$font-size-mainHeader:24px;
$font-size-searchHeader:1.125rem;
$font-size-searchSecondLine:.875rem;
$font-size-searchNotificationButton:.75rem;
$font-size-add-post:.95rem;

$main-color-orange:#FF7100;
$main-color-black:#000000;
$main-color-grey:#F9F9F9;
$main-color-white:#FFFFFF;

$main-border: 1px solid #ccc;
